@font-face{
    font-family: Roboto-thin;
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face{
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

body{
    margin:0;
}

section{
    display:block;
    width: 358px;
    height: 710px;
    border-color: black;
    border-style: solid;
}

#pantalla_registro_persona, #pantalla_fundacion,#pantalla_editar_perfil, #pantalla_Recordatorio, #pantalla_perfil_mascota{
    background-color:#FFCA5A;
}
#pantalla_configuracion{
    background-color: #449584;
}

#pantalla_menu_principal{
    background-color: #ff533f;
}

#pantalla_login{
    background-color:#FFCA5A;
}

#pantalla_registro_mascota{
    background-color: #FFD1CB;
}

#imageninicial{
    position: relative;
    display: block;
    margin: auto;
    top: 10em;
}

#iniciarsesionboton{
    position: relative;
    display: block;
    margin: auto;
    color:#ffffff;
    top: 10em;
    width:100px; 
    height:170px;
    font-family: Roboto-Bold;
    text-decoration:none;   
}

.btnGuardar{
    margin-left: 90px;
    margin-top: 20px;
}

#crearcuentaboton{
    position: relative;
    display: block;
    margin: auto;
    color:#ffffff;
    top: 2em;
    width:100px; 
    height:170px;
    font-family: Roboto-Bold;
    text-decoration:none;
}

#imageninicial{
    position: relative;
    display: block;
    margin: auto;
    top: 10em;
}

#imagenhueso{
    
    position: relative;
    top: 14em;
    left: 4.5em;
}

#imagenregistro{
    position: relative;
    display: block;
    margin: auto;
    top:5em;
    right: 2em;
}

#imagenPerros{
    position: relative;
    display: inline-block;
    margin: auto;
    width: 358px;
    height: 364px;
    
}
#logo{
    display: block;
    width: 110px;
    height: 80px;
    float: left;
    margin: 5px 5px 0px 5px;
}

#logo2{
    position: absolute;
    top: 40px;
    left: 50px;

    
}





#menu{
    display: block;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}

#menu2{
    position: relative;
    margin-top: 30px;
    left: 122em;
}






.division{
    position: absolute;
    display: block;
    margin: auto;
    background-color: #FFD1CB;
    width: 358px;
    height: 257px;
}

#atras{
    display: block;
    float: left;

}
#nombrerecordatorioinput, #fecharecordatorioinput, #titulomascotainput, #pesomascotainput{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ffffff;
    background-color: #ebb435;
    border-radius: 11px;
    border: none;
    width: 290px;
    height: 34px;
    text-align: center;
}

#titulomascotainput{
    width: 200px;
}
#pesomascotainput{
    width: 100px;
}

#nombreregistroinput, #nombreregistroinput_act{
    position: relative;
    top:4em;
    left: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    background-color: #ebb435;
    border-radius: 1em;
    border: none;
    width: 130px;
    height: 40px;
    text-align: center;
}
#apellidoregistroinput, #apellidoregistroinput_act{
    position: relative;
    top:4em;
    left: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    background-color: #ebb435;
    border-radius: 1em;
    border: none;
    width: 130px;
    height: 40px;
    text-align: center;
}

#correoregistroinput, #correoregistroinput_act{
    position: relative;
    top:4.5em;
    left: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    background-color: #ebb435;
    border-radius: 1em;
    border: none;
    width: 265px;
    height: 40px;
    text-align: center;
}

#contraseñainput, #contraseñainput_act{
    position: relative;
    top:5em;
    left: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    background-color: #ebb435;
    border-radius: 1em;
    border: none;
    width: 265px;
    height: 40px;
    text-align: center;
}

#contraseñaconfirmadaregistroinput{
    position: relative;
    top:5.5em;
    left: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    background-color: #ebb435;
    border-radius: 1em;
    border: none;
    width: 265px;
    height: 40px;
    text-align: center;
}

#fechadenacimientooinput, #fechadenacimientooinput_act{
    position: relative;
    top:6em;
    left: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    background-color: #ebb435;
    border-radius: 1em;
    border: none;
    width: 265px;
    height: 40px;
    text-align: center;
}

#imgregistrarse, #imgActualizar{
    position: relative;
    display: block;
    margin: auto;
    top: 12em;

}

#imgActualizar{
    margin-top: 20px;
    margin-bottom: 20px;
}

#imagenperritoregistro{
    position: relative;
    display: block;
    margin: auto;
    top:9.3em;
    left: 3.6em;
    height: 200px;
}


#imagenlogin{
    position: relative;
    display: block;
    margin: auto;
    top:10em;
    right: 2em;
}

#correologininput{
    position: relative;
    top:8em;
    left: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    background-color: #ebb435;
    border-radius: 1em;
    border: none;
    width: 265px;
    height: 40px;
    text-align: center;
}



#contraseñalogininput{
    position: relative;
    top:9em;
    left: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    background-color: #ebb435;
    border-radius: 1em;
    border: none;
    width: 265px;
    height: 40px;
    text-align: center;
}



#iniciarsesionlogin{
    position: relative;
    display: block;
    margin: auto;
    top:19.3em;
}

#imagenperritologin{
    position: relative;
    display: block;
    margin: auto;
    top:17em;
    left: 3.6em;
    height: 200px;
}

#adjuntarimagen{
    position: relative;
    display: block;
    margin: auto;
    right: 4em;
    top:5em;
}

#holasoy{
    position: relative;
    display: block;
    margin: auto;
    top:6em;
    right: 1em;
}

#nombremascotaininput{
    position: relative;
    top:3.5em;
    left: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    background-color: rgb(250, 192, 184);
    border-radius: 1em;
    border: none;
    width: 320px;
    height: 40px;
    text-align: center;
}

#fechanacimientomascota{
    position: relative;
    display: block;
    margin: auto;
    top:7.5em;
    left:0.3em;
}


#fechadenacimientoinput{
    position: relative;
    top:4.5em;
    left: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    background-color: rgb(250, 192, 184);
    border-radius: 1em;
    border: none;
    width: 320px;
    height: 40px;
    text-align: center;
}


#raza{
    position: relative;
    display: block;
    margin: auto;
    top:7.5em;
    left:0.3em; 
}

#razainput{
    position: relative;
    top:4.5em;
    left: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    background-color: rgb(250, 192, 184);
    border-radius: 1em;
    border: none;
    width: 320px;
    height: 40px;
    text-align: center;
}


#peso{
    position: relative;
    display: block;
    margin: auto;
    top:7.5em;
    left:0.3em; 
}

#pesoinput{
    position: relative;
    top:4.5em;
    left: 4em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
    background-color: rgb(250, 192, 184);
    border-radius: 1em;
    border: none;
    width: 110px;
    height: 40px;
    text-align: center;
}


#kilos{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    position: relative;
    top:2.2em;
    left: 8.5em;
    font-size: 25px;
}

#continuar{
    position: relative;
    top:5em;
    left: 8.5em;
}

#pantalla_Aseo_verde{
    background-color: #449584;
}
#pantalla_Salud_naranja{
    background-color: #ff533f;
}
#pantalla_Aseo_rosa, #pantalla_Salud_rosa{
    background-color: #ffd1ca;
}
#woofEsquina{
    margin-top: 20px;
    margin-left: 10px;
}
.centrar{
    margin: auto;
}
.contenido{
    margin-top: 50px;
    align-content: center;
}
.contenidoRecordatorio{
    margin-top:121px;
}
.Tituloaseo{
    color: #ffd1ca;
    font-family: Roboto-bold;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: -0.5em;
}

.tituloSalud{
    color: #ffd1ca;
    font-family: Roboto-bold;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: -0.5em;
}


#perroDucha1{
    width: 200px;
    margin-left: 75px;
    position: relative;
    bottom: 6em;
}

#perroDucha2{
    width: 200px;
    margin-left: 75px;
    position: relative;
    bottom: 6em;
}

.scrollable{
    overflow-y: scroll;
    height: 307px;
    position: relative;
    bottom: 5em;
}
.scrollable::-webkit-scrollbar {
    display: none;
}

.scrollable2{
    overflow-y: scroll;
    height: 372px;
    position: relative;
    bottom: 5em;
}
.scrollable2::-webkit-scrollbar {
    display: none;
}
.scrollable3{
    overflow-y: scroll;
    height: 529px;
}
.scrollable3::-webkit-scrollbar {
    display: none;
}
#pantalla_Aseo_verde div.scrollable{
    height: 371px;
}
.verdeOscuro{
    background: #3e8677;
}
.parteOscuro{
    border-radius: 10px;
    width: 260px;
    padding: 1px 0px;
}
.parteOscuroRecordatorio{
    border-radius: 10px;
    width: 300px;
    padding: 1px 0px;
    margin-top: 15px;
}
#parteOscuro1{
    height: 245px;
}
.parteOscuro img.esquina{
    float: right;
    margin-right: 0px;
}
.esquina{
    margin-top: 0px;
}
.esquinaVerdeOscuro{
    margin-top:-20px;
}
.parteOscuro h1.subtitulo{
    color: #ffd1ca;
    font-size: 23px;
    
}
.parteOscuroRecordatorio h1.subtituloRecordatorio{
    color: #E3A116;
}
.parteOscuro h1.subtitulo, .parteOscuroRecordatorio h1.subtituloRecordatorio{
    text-align: center;
    font-family: Roboto-bold;
    margin-bottom: 10px;
}
.parteOscuro h1.texto{
    color: white;
    font-family: Roboto-thin;
    font-size: 23px;
    text-align: center;
    margin-top: 0px;
}
.parteOscuro img.programarRecordatorio{
    position: relative;
    left: 50px;
    top: -16px;
}
#parteOscuro2{
    margin-top: 20px;
}
#parteOscuro2Rosa{
    margin-top:10px;
}
#parteOscuro2 h1.subtitulo{
    margin-bottom: 0px;
}
#parteOscuro2 h1.sub{
    margin-top: -9px;
}

.rosadoOscuro{
    background-color: rgb(250, 192, 184);
}
.naranjaOscuro{
    background-color: #df4939;
}
#miCarneVacuna{
    margin-left: 108px;
    height: 60px;
}
.tituloNaranja{
    color: #ff533f;
    font-family: Roboto-bold;
    font-size: 40px;
    text-align: center;
}
.tituloRecordatorio{
    color: #E3A116;
    font-family: Roboto-bold;
    font-size: 32px;
    text-align: center;
}

.rosadoOscuro h1.subtitulo{
    color: #ff533f;
}
#pantalla_Aseo_rosa div#parteOscura2{
    border-radius: 10px;
}
.contenedor{
    height: 80px;
    text-align: center;
}
.contenedorMenu img{
    float: right;
    padding-left: 100px;
    margin-right: 15px;
}
.contenedorMenu{
    margin-top: 230px;
}
#contenedorconfiguracion{
    margin: auto;
    height: 200px;
    font-size: 30px;
    padding: 5px 5px;
    text-align: center;
    margin-top: 100px;
}
#contenedorconfiguracion h1{
    color: #FFD1CB;
}
.contenedorSalud{
    margin: auto;
    padding: 15px 15px;
    width: 150px;
    text-align: center;
}
.imgAgregarPerro{
    margin-left: -11px;
}


/*Estilos de los checkbox*/

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

  /* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #E3A116;
    border-radius: 20px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

  /* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #E3A116;
}

  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

  /* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  /* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Estilos pantalla menu*/

.pantallaMenu{
    background-image: url('../img/FondoMenu.png');
}

/* Css J */

.tituloMascota{
    margin-top: 1em;
    color: rgb(211, 164, 64);
    font-family: Roboto-bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 0px;
}


.subtituloMascota{
    color: white;
    font-family: Roboto-bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 0px;
}

.contenedorMascotaLeft{
    position: absolute;
    width: 40%;
    height: 100px;
    text-align: center;
}

.subtituloPeso{
    color: black;
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 65px;
}

.subtituloPesoMascota{
    color: white;
    font-family: Roboto-bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

#imgEditar{
    position: relative;
    display: block;
    margin-left: 35px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.division2{
    position: absolute;
    display: block;
    margin: auto;
    background-color: #FFCA5A;
    width: 358px;
    height: 315px;
}

.contenedorAseoSalud{
    position: relative;
    display: block;
    margin: auto;
    width: 358px;
    height: 315px;
    top: 6.9em;
}

.contenedorAseoLeft{
    background-color: #449584;
    position: absolute;
    width: 50%;
    height: 100%;
}

.Tituloaseo2{
    color: #ffd1ca;
    font-family: Roboto-bold;
    font-size: 35px;
    text-align: center;
    position: relative;
    top: -1em;
}

.scrollableMascota{
    overflow-y: scroll;
    height: 270px;
    position: relative;
    bottom: 5em;
}
.scrollableMascota::-webkit-scrollbar {
    display: none;
}

.parteOscuroMascota{
    border-radius: 10px;
    width: 160px;
    padding: 1px 0px 0px;
    margin-top: 1.5em;

}

#parteOscuroMascota1{
    height: 80px;
}

#parteOscuroMascota2{
    height: 100px;
    margin-top: 10px;
}


.subtituloAseoMascota{
    color: white;
    font-family: Roboto-bold;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.fechaAseoMascota{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.subtituloSaludMascota{
    color: white;
    font-family: Roboto-bold;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.fechaSaludMascota{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#imgEditar2{
    position: relative;
    display: block;
    margin-left: 55px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.contenedorSaludRight{
    background-color: #ff533f;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 179px;
}

#imagenperrito{
    position: relative;
    display: block;
    margin: auto;
    top:6.9em;
    left: 3.6em;
    height: 200px;
}

.parrafo{
    text-align: center;
    color: #b83f32;
    margin-left: 3em;
    margin-right: 3em;
}

#logoFundacion{
    margin-left: 4.5em;
    
}

#logoInstagram{
    margin-left: 10em;
}

button{
    text-decoration: none;
    border: none;
    background-color: #FFCA5A;
}
.oculto{
    display: none;
}


